.env
config.json
/.idea
.DS_Store
pnpm-lock.yaml
/.next
webserver/next-env.d.ts
package-lock.json
/node_modules
/discord-bot/node_modules
/websocket/node_modules
/webserver/.next
/webserver/node_modules
